/* static/css/start.css
*/

/*body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}*/

/*.container {
  max-width: 75%;
  margin-top: 10%;
}*/

/*.form-start {
  max-width: 330px;
  margin: 0 auto;
}*/
