<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/playlists.css"/>
    <title>Playlists</title>
</head>
<body>
 <div class="container content">
     <div>
         <h2><a href="https://open.spotify.com/user/dwunique/playlist/{{dwu}}">DW Unique</a></h2>
         <iframe src="https://embed.spotify.com/?uri=spotify:user:dwunique:playlist:{{dwu}}" width="800" height="380" frameborder="0" allowtransparency="true"></iframe>
     </div>
     <div>
         <h2><a href="https://open.spotify.com/user/dwunique/playlist/{{dwh}}">DW History</a></h2>
         <iframe src="https://embed.spotify.com/?uri=spotify:user:dwunique:playlist:{{dwh}}" width="800" height="380" frameborder="0" allowtransparency="true"></iframe>
     </div>
 </div>
</body>
</html>
