<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="static/css/playlist.css">

  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="song-list">
      {% for track_id in playlist %}
        <iframe src="https://embed.spotify.com/?uri=spotify:track:{{track_id}}" width="750" height="80" frameborder="0" allowtransparency="true" align="middle"></iframe>
      {% endfor %}
    </div>
  </div>
</body>
</html>
