<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/siginin.css"/>

    <title>Title</title>
</head>
<body>
    <div class="container">
        <form method="post" class="form-start">
            <h3>Looks like you need to sign in first.</h3>
            <input type="submit" class="btn btn-success" value="Go" id="sign-in" autofocus/>
        </form>
    </div>
</body>
</html>
