<!DOCTYPE html>
<html lang="en"/>
<head>
  <meta charset="UTF-8"/>

  <!-- CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="static/css/start.css">

  <title>Start</title>
</head>
<body>
  <div class="container">
    <form method="post" class="form-start">
      <h1>Start</h1>

      <!-- Resource input -->
      <div class="form-group">
        <label for="pl_resource">Copy and paste playlist URI, URL, or ID here</label>
        {% if error != '' %}
          <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endif %}
        <input type="text" class="form-control" name="pl_resource" placeholder="spotify:user:spotify:playlist:37i9dQZEVXcPsqrzUr4kra" aria-describedby="idHelpBlock" id="pl_resource" autofocus required/>
        <span id="idHelpBlock" class="help-block">Found by navigating to the playlist's page in Spotify, clicking the button with three dots, and selecting "Copy Playlist Link" or "Copy Playlist URI".</span>
      </div>

      <!-- Scan day -->
      <div class="form-group">
        <label for="scan_day">Scan day</label>
        <select name="scan_day" id="scan_day" class="form-control" aria-describedby="scanDayHelpBlock">
          <option value="Sunday">Sunday</option>
          <option value="Monday" selected>Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
        </select>
        <span id="scanDayHelpBlock" class="help-block">This option sets which day of the week your playlist will be scanned.</span>
      </div>

      <!-- Mobile number -->
      <div class="form-group">
        <label for="mobile_number">Mobile number (optional)</label>
        <input type="text" class="form-control" name="mobile_number" placeholder="(123) 456-7890" id="mobile_number"/>
      </div>

      <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
  </div>
</body>
</html>
